body {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
    font-family: 'Fredoka One', cursive;
    /* display: flex; */
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
}
.container{
    display: flex;
    position: sticky;
    top: 0;
    background: white;
}

.codingworld-logo img{
    width: 55px;
    margin: 10px 0;  
}
.logo{
    width: 6%;
}

.navlist{
    width: 70%;
}

.navlist ul{
    list-style-type: none;
    overflow: hidden;
    margin-top: 25px;
}

ul a{
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
}
li{
    display: inline;
    
}
.search{
    width: 15%;
    
}
.search input{
    
    border-radius: 10px;
    height: 20px;
    width: 150px;
    padding-left: 10px;
    margin-top: 25px;
}
.search-img{
    margin:0;
    padding: 0;
}
.search-img img{
    width: 25px;
    margin-top: 25px;
}
a {
    color: #000000;
    text-decoration: none;
    margin: 10px 20px;
}

/* a:hover {
    color: #727272;
} */
.button {
    background: rgb(9, 240, 47);
    background: linear-gradient(0deg, rgb(82, 215, 29) 0%, rgb(88, 200, 241) 100%);
    border: none;
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
    border-radius: 10px;

}

.button:before {
    height: 0%;
    width: -2px;
}

.button:hover {
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.5),
        -4px -4px 6px 0 rgba(0, 0, 0, 0.5),
        inset -4px -4px 6px 0 rgba(0, 0, 0, 0.2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}
/* ________________________________________________________________________________ */


.Scratch {
    --bg-color: #fcbd00;
    --bg-color-light: #ffeeba;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(255, 215, 97, 0.48);
  }
  
  .MIT {
    --bg-color: #00ff6a;
    --bg-color-light: #e2fced;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(184, 249, 211, 0.48);
  }
  
  .WEB {
    --bg-color: #ff3434;
    --bg-color-light: #F0E7FF;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(206, 178, 252, 0.48);
  }
  
  .STEAM {
    --bg-color: #005eff;
    --bg-color-light: #f1f7ff;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(220, 233, 255, 0.48);
  }
  .Arduino {
    --bg-color: #005eff;
    --bg-color-light: #f1f7ff;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(220, 233, 255, 0.48);
  }
  .Python {
    --bg-color: #005eff;
    --bg-color-light: #f1f7ff;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(220, 233, 255, 0.48);
  }
  .Java {
    --bg-color: #005eff;
    --bg-color-light: #f1f7ff;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(168, 168, 168, 0.671);
  }
  .C {
    --bg-color: #005eff;
    --bg-color-light: #f1f7ff;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(220, 233, 255, 0.48);
  }
  .Cpp {
    --bg-color: #005eff;
    --bg-color-light: #f1f7ff;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(220, 233, 255, 0.48);
  }

  
  .card {
    width: 250px;
    height: 220px;
    background: #fff;
    border: 3px solid black;
    border-top-right-radius: 20px;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0,0,0,0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;

  }
  /* .Scratch{
      background-color: #ffbf00d3;
  }
  .MIT{
      background-color: #2bf57c;
  }
  .WEB{
      background-color: #ff3434b3;
  }
  .Arduino{
      background-color: #8eb1ee;
  }
  .Python{
      background-color: #ecce56b8;
  }
  .Java{
    background-color: #b9b9bc;
  }
  .C{
    background-color: #6269b4;
  }
  .Cpp{
    background-color: #4836e8;
  } */
  
  .card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
      0 24px 46px var(--box-shadow-color);
  }
  .Scratch:hover{
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(249, 155, 13, 0.966),
      0 24px 46px var(--box-shadow-color);
  }
  .MIT:hover{
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(87, 228, 21, 0.966),
      0 24px 46px var(--box-shadow-color);
  }
  .WEB:hover{
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(240, 39, 39, 0.966),
      0 24px 46px var(--box-shadow-color);
  }
  .STEAM:hover{
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(29, 17, 255, 0.966),
      0 24px 46px var(--box-shadow-color);
  }
  .Arduino:hover{
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px #8eb1c6,
      0 24px 46px var(--box-shadow-color);
  }
  .Python:hover{
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgb(248, 236, 14),
      0 24px 46px var(--box-shadow-color);
  }
  .Java:hover{
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgb(128, 128, 130),
      0 24px 46px var(--box-shadow-color);
  }
  .C:hover{
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgb(106, 94, 212),
      0 24px 46px var(--box-shadow-color);
  }
  .Cpp:hover{
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgb(52, 33, 216),
      0 24px 46px var(--box-shadow-color);
  }
  
  .card-img img{
      width: 90px;
  }

  .heading {
      margin-top: 70px;
  }
  .course-box{
      align-items: center;
      justify-content: center;
  }

  .Level1-container {
      display: flex;
      margin-top: 70px;
      justify-content: center;
  }

  .Level2-container {
      display: flex;
      margin-top: 70px;
      justify-content: center;
      
  }
  .Level3-container {
    display: flex;
    margin-top: 70px;
    justify-content: center;
    
}

.contact{
  background-color: #000000;
  display: flex;
  justify-content: center;
  margin-top:100px;
  height: 200px;
}
.ph{
  position: relative;
  margin-top: 50px;
}
.add{
  position: relative;
  margin-left: 100px ;
  margin-top: 50px;
}
h3{
  color: rgb(106, 103, 103);
}
.contact p{
  color: rgb(255, 255, 255);
  font-size: 12px;
}

.copyright {
  font-size: 0.75rem;
  padding: 10px 0;
}

.intro {
  width: 30%;
  margin: auto;
}
.bot-container {
  padding: 30px 0 15px;
  border: 2px solid white;
}
.footer-link img {
  width: 50px;
}
